<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <div>
    <img class="logo" src="https://pbs.twimg.com/profile_images/1367553305757552642/F3erCQrq_400x400.jpg" height="250"
      width="250" alt="centered image">
  </div>
  <style>
    .logo {
      margin: 0px auto 0px;
      display: block;
    }
  </style>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center"
        style="padding: 10px 0px 20px 0px; font-size: 28px; font-family: Helvetica, Arial, sans-serif; color: #333;">
        {{title}}
      </td>
    </tr>
  </table>
  </table>
  <table width="100%" border="0" cellspacing="20" cellpadding="0"
    style="background: ${mainBackgroundColor}; max-width: 50%; margin: auto; border-radius: 10px;">
    <tr>
      <td align="center"
        style="padding: 10px 0px 0px 0px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: ${textColor};">
        {{subtitle}}
        <a href="mailto:{{applicantMail}}"><strong>{{applicant}} ({{applicantMail}})</strong>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 20px 0;">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="border-radius: 5px;" bgcolor=#68cfb4>
              <a href="{{url}}" target="_blank"
                style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #000000; text-decoration: none; text-decoration: none;border-radius: 5px; padding: 10px 20px; border: 1px solid ${buttonBorderColor}; display: inline-block;">
                <!-- Click here to finalize your login to Eureka -->
                {{urlInfo}}
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center"
        style="padding: 0px 0px 10px 0px; font-size: 14px; line-height: 22px; font-family: Helvetica, Arial, sans-serif; color: ${textColor};">
        *{{ignoreEmailInf}}
      </td>
    </tr>
  </table>
  <hr border-style=none border-top-style=dotted border-width=10px color=#EAF6F6 width=10% margin-top=30px
    margin-bottom=30px>
  <table width="100%" border="0" cellspacing="20" cellpadding="0"
    style="background: ${mainBackgroundColor}; max-width: 50%; margin: auto; border-radius: 10px;">
    <tr>
      <td align="center"
        style="padding: 0px 0px 10px 0px; font-size: 14px; line-height: 22px; font-family: Helvetica, Arial, sans-serif; color: ${textColor};">
        {{aboutEureka}}
      </td>
    </tr>
  </table>
  <hr border-style=none border-top-style=dotted border-width=10px color=#EAF6F6 width=10% margin-top=30px
    margin-bottom=30px>
  <div>
    <img class="logo" src="https://pbs.twimg.com/profile_images/1367553305757552642/F3erCQrq_400x400.jpg" height="40"
      width="40" alt="centered image">
  </div>
  <style>
    .logo {
      margin: 0px auto 0px;
      display: block;
    }
  </style>

  <table width="100%" border="0" cellspacing="20" cellpadding="0"
    style="background: ${mainBackgroundColor}; max-width: 50%; margin: auto; border-radius: 10px;">
    <tr>
      <td align="center"
        style="padding: 0px 0px 0px 0px; font-size: 10px; line-height: 10px; font-family: Helvetica, Arial, sans-serif; color: ${textColor};">
        {{emailReason}}
      </td>
    </tr>
  </table>

</body>

</html>