.title {
    color: var(--eureka-green);
    margin-bottom: 1.5em;
  }

  .infoCircle{
      color: orange;
      
  }
  
  .description{
      margin: 1em 0 1em 0;
      padding:0;
  }
  .unFollowBtn{
      background: transparent;
      color: var(--eureka-green);
      text-decoration: underline;
      border-color: var(--eureka-green);
  }
