

.fallowsSection a .ti{
  color: white;
  font-size: 2em;
  cursor: pointer;
}
.fallowsSection a .tiktok{
  color: white;
  font-size: 1.5em;
  margin-left: 0.2em ;
  margin-right: 0.2em ;
}

/*.fallowsSection a[href^="mailto:"] .ti{
  font-size: 2em;
}*/
