.suggestButton{
    background-color: var(--color-emphasis-raised);
    border-color: var(--color-emphasis-raised);
    color:white;
}
.addButton{
    background-color: transparent;
    border-color: var(--color-emphasis-raised);
    color:var(--color-emphasis-raised);
}
.addWorkInfo{
    color:var(--color-emphasis-raised);
    font-size: .9em;
}