
.container {
  margin-bottom: 2rem;

}
.isActive{
  box-shadow: 0 0 3px 1px green !important;
}
.isActiveCircle{
  color: var(--green);
  position: absolute;
    top: 10px;
    font-size: 1.5em;
    display: inherit;
    top: 1%;
    right: 1%;
}
.footer{
  padding:.2em;
}
.detailedImageContainer {
  height: 16em;
}
.imageContainer {
   /* border-radius: 0.5rem 0; */
  box-shadow: 1px 0 7px -2px rgba(0, 0, 0, 0.25);
  /* margin-bottom: 1rem; */
  overflow: hidden; 
  /* display: inline-block;  */
  position: relative;
  cursor:pointer;
  background-color: #f9f8f87a;
}

.detailedImageContainer img {
   width: 100%;
   height: 16em;
}
.imageContainer img {
  width: 100%;
  /* height: 24em; */
}

.type {
  background-color: var(--eureka-green);
  border-radius: 1rem;
  
  font-size: 0.85rem;
  left: 0.85rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  top:3%;
  position: absolute;
  left: 0.85rem;
  color:black;
  /* bottom: 1rem;
   */
  /* text-transform: capitalize; */
}

.actions {
  bottom: 0.95rem;
  color: var(--text-color-extralight);
  position: absolute;
  right: 1.3rem;
  transform: scale(1.5);
}
.actionBookmark,
.actionLike {
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  transition: transform 0.15s;
}
.actionBookmark:hover,
.actionLike:hover {
  transform: scale(1.15);
}
.actionBookmark {
  margin-right: 0.25rem;
}
.actionLike {
  color: #e3506d;
}

.title {
  color: #333;
  display: block;
  font-weight: 600;
  font-size: 1rem;
}

.author {
  color: #333;
}

.title {
  /* color: var(--text-color-light); */
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.2rem;
  text-decoration: underline;
  /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); */
}
 .date {
  display: block;
  font-size: 0.8rem;
  font-weight: 200;
}
.joinButtonContainer{
  /* margin: 1em 0 0 0; */
  /* text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center; */
  
}
.joinButtonContainer button {
  /* display: block;
  width: 90%; */
}
/* .participantsInfo{
  color:gray;
  text-align: center;
  font-size: .875rem;
  margin: .4em 0 0 0;
} */

