.cycle {
  margin-bottom: 2rem;
}

.imageContainer {
  border: 3px solid var(--eureka-green);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
}
.imageContainer img {
  width: 100%;
}

.embeddedInfo {
  position: absolute;
  bottom: 0.85rem;
  left: 0.85rem;
  right: 1.2rem;
}
.embeddedInfo .title {
  color: var(--text-color-light);
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
}
.embeddedInfo .date {
  color: var(--text-color-light);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.type {
  background-color: var(--eureka-blue);
  border-radius: 1rem;
  color: var(--text-color-light);
  font-size: 0.85rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  text-transform: capitalize;
}

.actions {
  color: var(--text-color-extralight);
  transform: scale(1.5);
}
.actionBookmark,
.actionLike {
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  transition: transform 0.15s;
}
.actionBookmark:hover,
.actionLike:hover {
  transform: scale(1.15);
}
.actionBookmark {
  margin-right: 0.25rem;
}
.actionLike {
  color: #e3506d;
}

.title {
  color: var(--text-color-primary);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
.title a {
  color: var(--text-color-primary);
}
.title a:hover {
  color: #0056b3;
}
