@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'Ahpuch.Apollyon-Light';
  font-weight: normal;
  font-style: normal;
  src: url('/font/ahpuch-apollyon/light.woff2') format('woff2');
}

:root {
  --color-primary: #68cfb4;
  --color-primary-raised: #35d0a6;
  --color-secondary: #493788;
  --color-secondary-raised: #312169;
  --text-color-primary: #333;
  --text-color-secondary: #555;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color-primary);
}

h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-weight: 600;
}

.form-control {
  border-color: var(--color-primary);
}
.form-control:focus {
  border-color: var(--color-primary-raised);
  box-shadow: 0 0 0 0.2rem rgba(104, 207, 180, 0.25);
}
.form-control:disabled,
.form-control[readonly] {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-link {
  color: var(--color-secondary);
}
.btn-link.focus,
.btn-link:focus {
  box-shadow: none;
}
.btn-link:hover {
  color: var(--color-secondary-raised);
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--color-primary-raised);
  border-color: var(--color-primary-raised);
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.btn-primary:focus {
  background-color: var(--color-primary-raised);
  border-color: var(--color-primary-raised);
  box-shadow: none;
}
.btn-primary:hover {
  background-color: var(--color-primary-raised);
  border-color: var(--color-primary-raised);
}

.btn-outline-primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-outline-primary:hover {
  background-color: var(--color-primary-raised);
  border-color: var(--color-primary-raised);
}
