.masonry {
  margin-left: -25px; /* gutter size */
}

.masonryColumn {
  border-left-color: transparent!important;
  border-left-style: solid;
  border-left-width: 25px; /* gutter size */
}

.mainContainer {
  position: relative;
  /* height: 375px; */
}

.carouselTitle{
  color: #4c4a72;
  font-weight: bold;
  font-size: 1.3em;
}

.rightButton{
  position: absolute;
  top:35%;
  right:-3em;
  border-radius: 50%;
  width: 2em;
    height: 2em;
    
    padding: 0;
}

.leftButton{
  position: absolute;
  top:35%;
  left:-3em;
  border-radius: 50%;
  width: 2em;
    height: 2em;
    
    padding: 0;
}

.right{text-align: right!important;}

.hashTagTopic{
  width: 1.8em;
    height: 1.8em;
    display: inline-block;
    text-align: center;
    border: solid 1px #aba4a466;
  border-radius: 50%;
  padding: .2em;
  margin-right: .5em;
}
.seeAllButton{
  color: var(--eureka-green);
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.iconBefore{
 
 font-size:1.5em;
      margin: 0 .4em 0 0 ;
}
.iconAfter{
  size:1.5em;
  font-size:1.5em;
      margin: 0 0 0 .4em ;
}