.masonry {
  margin-left: -25px; /* gutter size */
}

.masonryColumn {
  border-left-color: transparent!important;
  border-left-style: solid;
  border-left-width: 25px; /* gutter size */
}

.mainContainer {
  position: relative;
  /* margin-bottom: 4em; */
  /* height: 375px; */
  /* margin-bottom: 1em; */
}

.carouselTitle{
  /* color: #4c4a72;
  font-weight: bold;
  font-size: 1.3em; */
}
.rightButton svg {
  margin-top: -.2em;
  margin-right: -.2em;
}
.leftButton svg{
  margin-top: -.2em;
  margin-left: -.2em;
}
.rightButton{
  /* position: absolute;
  top:35%;
  right:-3em;
  border-radius: 50%; */
  width: 2em;
    height: 2em;
    
    /* padding: 0; */
}

.leftButton{
  /* position: absolute;
  top:35%;
  left:-3em;
  border-radius: 50%; */
  width: 2em;
    height: 2em;
    
    /* padding: 0; */
}

.right{text-align: right!important;}

.iconBefore svg{
  font-size: 1.5em;
  margin-right: .1em;
}
/* .seeAllButton{
  color: var(--eureka-green);
  background-color: transparent;
  border: none;
}*/

.seeAllButton:hover {
  
  
  text-decoration: underline;
  
} 


.iconAfter{
  size:1.5em;
  font-size:1.5em;
      margin: 0 0 0 .4em ;
}