.imgWrapper img {
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
}

.cycleAuthor {
  font-size: 1.1rem;
}
.cycleAuthorAvatar {
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.showContentBtn {
  background-color: var(--color-emphasis);
  border-radius: 12px;
  border: none;
  color: var(--text-color-light);
  display: inline-block;
  font-size: 0.9rem;
  margin-left: 2rem;
  padding: 0 1rem;
}
.showContentBtn:hover {
  background-color: var(--color-emphasis-raised);
  color: var(--text-color-extralight);
}

.posters {
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.galleryControls button {
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  color: #313131;
  margin: 0 0.2rem;
  width: 38px;
  height: 38px;
  line-height: 1;
}
.galleryControls button[data-direction='forward'] {
  transform: scaleX(-1);
}

.gallery {
}
.galleryItem {
  margin-right: 2rem;
}
.galleryItem img {
  border-radius: 0.5rem;
}

.workInitials {
  text-align: left;
  padding-left: 0.5rem;
  margin-top: 0.75rem;
}
.workInitials h4 {
  font-size: 1.1rem;
}
