.arquimedesImage {
   width: 95%;
   height: 100%;
}

.WorkSection{
     background:var(--color-primary-raised);
     min-height: 410px;
}
.CyclesSection{
     background:var(--color-emphasis-raised);
     min-height: 410px;
}
.EurekaSection{
     background:var(--color-secondary-raised);
     min-height: 410px;
}
.WorkSectionImage{
   width: 100%;
   height: 100%;
}
/*..CyclesSectionImage{
   width: 85%;
   height: 100%;
}
.EurekaSectionImage{
   width: 85%;
   height: 100%;
}*/
.submitButton {
  display: block;
  margin-top: 2rem;
  width: 50%;
  font-size: 1.2rem;
}
.dontHaveAccounttext {
  font-size: 0.8rem;
}
.downArrow{
  font-size: 1.5rem;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
.WorkSectionImage{
   width: 100%;
   height: 100%;
   min-height: 225px;
}
.CyclesSectionImage{
   width: 100%;
   height: 100%;
}
.EurekaSectionImage{
   width: 100%;
   height: 100%;
}
}

@media screen and (max-width: 724px) {
  .submitButton{
  width: 85%;
}
}
