.masonry {
  margin-left: -25px; /* gutter size */
}

.masonryColumn {
  border-left-color: transparent!important;
  border-left-style: solid;
  border-left-width: 25px; /* gutter size */
}
.mosaicContainer{
  height: 24em;
}