.container {
  box-shadow: 0 15px 20px -30px rgba(0, 0, 0, 0.5);
  max-width: 1440px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.brand {
  font-family: 'Ahpuch.Apollyon-Light', 'Open Sans', sans-serif;
  line-height: 72px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.brandText {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0;
  position: relative;
  top: 2px;
}

.nav {
  margin-left: auto;
}
.nav button:global(.btn) {
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdownMenu {
  background-color: var(--color-primary);
  min-width: 7rem;
}
.dropdownMenuItem {
  color: #fff;
  font-weight: bold;
}

.profileDropdown {
  color: var(--eureka-green);
  transform: scale(1.5);
}

.infoIco img {
  width: 26px;
  height: 26px;
}

.langSwitch button:global(.btn) {
  padding-left: 0;
  padding-right: 0;
}
.langSwitch button,
.langSwitch button:hover,
.langSwitch button:focus,
.langSwitch button:not(:disabled):not(.disabled):active {
  background-color: transparent;
  border: none;
  color: var(--eureka-green);
}
.langSwitch img {
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  height: 24px;
}
.langSwitch :global(.dropdown-menu) {
  min-width: auto;
}
.langSwitch :global(.dropdown-item) {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.langSwitch :global(.dropdown-item.active) {
  background-color: var(--eureka-green);
}
