.titleWorkAuthor {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  margin-top: -0.75rem;
}

.creatorAvatar {
  border-radius: 50%;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.workLink {
  background-color: #f5a623;
  border-radius: 12px;
  color: #ececec;
  padding: 0 0.5rem;
}
.workLink:hover {
  background-color: #fca719;
  color: #ffffff;
  text-decoration: none;
}

.contentText {
}

.commentsPlaceholder {
  background-color: #d6d6d6;
  border: 1px solid #bdbdbd;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.imgWrapper img {
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
}

.workInitials p {
  margin-bottom: 0.25rem;
}
