.container{
  padding-bottom: 0;
  margin-bottom: 0;
  /* width:20em; */
  
  /* border-bottom: solid 1px rgb(240, 238, 238); */
}
.formGroup{
  display: inline;
  margin-right: .2em;
}
.form-control {
  border-color: var(--color-primary);
  border: solid 1px #e0dede;
  border-radius: 1em;
  background: #f3f1f1;
}
.rbt-input{
  background: gray!important;
}
