.middle-container {
  margin: auto;
}
.title {
  color: var(--eureka-green);
}

.infoContainer {
  text-align: center;
}

.logo-img {
  max-width: 180px;
  max-height: 140px;
  padding: 10px 30px 40px 30px;
  vertical-align: middle;
}

.logo-img2 {
  max-width: 180px;
  padding: 10px 30px 40px 30px;
  vertical-align: middle;
}

.logo-img3 {
  max-width: 180px;
  max-height: 160px;
  padding: 10px 30px 40px 30px;
  vertical-align: middle;
}
.thanks {
  width: 50%;
  margin: auto;
}
.fallowsSection a .ti{
  color: var(--eureka-green);
  font-size: 2em;
   cursor: pointer;
}
.fallowsSection .fallowsSectionTitle{
  font-size: 1em;
}


.peopleCard{
  text-align: center;
  margin-bottom: 5em;
}
.peopleCard img{
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}
.peopleCard .peopleName {
  color: var(--eureka-green);
  margin-top: 1em;  
}

.peopleCard .peopleName,
.peopleCard .professionName {
  font-size: 1.2em;
}

.peopleCard .positionName {
  font-size: 1em;
  color: rgb(3, 5, 0) !important;
}
.peopleCard .peopleName a{
  margin-left:.2em;
} 
.peopleCard .peopleName a .si{
   color: var(--eureka-green);
  font-size: 1.5em;
   cursor: pointer;
}
.peopleCard .interest{
  
  background-color:#493788 !important;
}
