
.tabBtn a{
  border: none;
  border-bottom: solid 1px var(--eureka-green)!important;
}

.tabBtn a:hover{
  background-color: var(--eureka-green);
}

.Image {
  width: 22em;
  height: 20em;
}

.sliderDelete{
  margin-inline-start: 7em;
}


