.container{
  background-color: white!important;
  border: none;
}
.newCommentInput{
  padding: .5em;
    border: solid 1px gray;
    border-radius: 10em!important;
  background: #f5f5f5;
  
}
.dangerouslySetInnerHTML{
  display: inline-block;
    border: solid 1px #e7dfdf;
    padding: .5em;
    margin-bottom: .5em;
    border-radius: 10em;
    background: #f5f5f5;
}