.container {
  display: flex;
  align-items: center;
  /* overflow: auto; */
  /* text-align: center; */
  /* margin-bottom: 1rem; */
  justify-content:center;
}

.socialBtn {
  background: none;
  border: none;
  color: var(--eureka-green);
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  font-size: 1em;
  transition: transform 0.15s;
  margin-right: 0.25em;
  text-decoration: none!important;
  font-family: 'Open Sans', sans-serif;
}

.socialBtn .info{
  display: block;
  font-size: .5em;
  color: gray;
}
.socialBtn svg {
  margin-right: 0.2rem;
  color: gray;
  font-size: 1.5em;
}
.socialBtn .active{
  color: var(--eureka-green);
}
.socialBtn:hover {
  transform: scale(1.15);
}

.action-like path,
.action-like span {
  color: #e3506d;
}

.toggle-share svg,
.toggle-share span {
  color: #68cfb4;
}

.icon-share svg {
  margin-right: 12px;
  color: #68cfb4;
}

.toggle-share,
.toggle-share:hover {
  background-color: transparent;
  border-color: transparent;
}


.rating{
  font-size:1em;
}
.rating span{
  top: -.1em;
}
.select svg{
  color: var(--yellow);
}
.unselect svg{
  color: gray;
}
.clearRating{
  font-size: 1.5em;
    margin: -.3em -.1em 0 0;
    color: var(--eureka-green); 
    border: none;
    padding: 0;
    background: none;
}