.post {
  margin-bottom: 2rem;
  cursor: pointer;
  /* height:24em; */
}

.imageContainer {
  border-radius: 0.5rem;
  box-shadow: 1px 0 7px -2px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
}

.imageContainer .postImage {
  width: 100%;
}

.gradient {
  background: linear-gradient(180deg, #00000026, #00000000 5rem);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cycleCreator {
  color: #fff;
  font-size: 0.7rem;
  left: 0.85rem;
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  top: 0.85rem;
}
.cycleCreatorAvatar {
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.333);
  height: 24px;
  width: 24px;
}

.type {
  background-color: var(--eureka-green);
  border-radius: 1rem;
  bottom: 0.85rem;
  color: var(--text-color-primary);
  font-size: 0.85rem;
  left: 0.85rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  position: absolute;
  text-transform: capitalize;
}

.actions {
  bottom: 0.95rem;
  color: var(--text-color-extralight);
  position: absolute;
  right: 1.3rem;
  transform: scale(1.5);
}
.actionBookmark,
.actionLike {
  cursor: pointer;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  transition: transform 0.15s;
}
.actionBookmark:hover,
.actionLike:hover {
  transform: scale(1.15);
}
.actionBookmark {
  margin-right: 0.25rem;
}
.actionLike {
  color: #e3506d;
}

.title {
  color: var(--text-color-primary);
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.title a {
  color: var(--text-color-primary);
}
.title a:hover {
  color: #0056b3;
}

.work {
  color: #333;
  font-size: 0.85rem;
  font-weight: 100;
}
