.container{
  background-color: #F8F9FB;
  padding:1em;
  border-radius: .2em;
}

.selectedPhoto{
    width: 35%;
    height: 30%;
}

@media only screen and (max-width: 600px) {
.selectedPhoto{ 
  width: 70%;
  height: 70%;
}
}
.em{

  color: #13C0C9;
}