.imgWrapper {
  border-radius: 0.75rem;
  box-shadow: 1px 0 7px -2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.imgWrapper img {
  width: 100%;
}

.parentContent {
  width: 100%;
}
.parentContent td {
  vertical-align: baseline;
}
.parentContent td.parentBadges {
  padding-right: 0.75rem;
  text-align: right;
  width: 1px;
  white-space: nowrap;
}

.workInfoType,
.cycleInfoType {
  border-radius: 1rem;
  color: var(--eureka-purple);
  display: inline-block;
  font-size: 0.85rem;
  line-height: 1;
  padding: 0.2rem 0.75rem;
  text-align: center;
  /* text-transform: capitalize; */
}
.workInfoType {
  background-color: var(--color-emphasis);
}


.cycleInfoType {
  background-color: var(--eureka-green);
  color: var(--text-color-light);
}
.cycleInfoType:hover {
  color: var(--text-color-extralight);
}

.workInfoTitle {
  font-size: 1rem;
  font-weight: 300;
}
.workInfoAuthor {
  font-size: 0.9rem;
  font-weight: 200;
}

.postInfo {
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.creatorAvatar {
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
  width: 22px;
  height: 22px;
}
.postDate {
  color: darkgrey;
  margin-left: auto;
}

.socialInfo {
  color: var(--color-primary-raised);
  font-size: 1.15rem;
}
.socialInfo span {
  margin-right: 1rem;
}
