.workSearchTypeaheadItem {
  display: flex;
  /* margin-bottom: 1rem; */
}

.imageWrapper span {
  background-color: rgb(193, 198, 210);
  border-radius: 1rem;
  border: 1px solid #b2b8c7;
  bottom: 0.5rem;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
  content: 'Cycle';
  font-size: 0.6rem;
  left: 0.5rem;
  line-height: 1;
  padding: 0.2rem 0.5rem;
  position: absolute;
}

.workSearchTypeaheadItem img {
  margin-right: 0.5rem;
  width: 76px;
  object-fit: contain;
}

.workSearchTypeaheadItem h3 {
  font-size: 1.15rem;
}

.workSearchTypeaheadItem h4 {
  font-size: 1rem;
}

.workSearchTypeaheadItem hr {
  margin: 0 0 0.2rem;
}

.workSearchTypeaheadItem p {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}

.workSearchTypeaheadItem article {
  max-width: 420px;
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
