.imgWrapper {
  border-radius: 0.75rem;
  box-shadow: 1px 0 7px -2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.imgWrapper img {
  width: 100%;
}

.socialInfo {
  color: var(--color-primary-raised);
  font-size: 1.15rem;
}
.socialInfo span {
  margin-right: 1rem;
}

.author {
  font-size: 1.3rem;
}

.workLink {
  background-color: var(--eureka-grey-dark);
  border-radius: 6px;
  color: var(--text-color-light);
  padding: 0 0.5rem;
}
.workLink:hover {
  background-color: var(--eureka-green);
  color: var(--text-color-extralight);
  text-decoration: none;
}

.explanatoryText {
  color: var(--eureka-grey-dark);
  margin-bottom: 3rem;
}
