.imgWrapper {
  border-radius: 0.75rem;
  box-shadow: 1px 0 7px -2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.imgWrapper img {
  width: 100%;
}

.socialInfo {
  color: var(--color-primary-raised);
  font-size: 1.15rem;
}
.socialInfo span {
  margin-right: 1rem;
}

.author {
  font-size: 1.3rem;
}

.workLink {
  background-color: none;
  border-radius: 6px;
  color: var(--eureka-green);
  padding: 0 
}
.workLink:hover {
  background-color: none;
  color: var(--color-primary-raised);
  text-decoration: underline;
}

.explanatoryText {
  color: var(--eureka-grey-dark);
  margin-bottom: 3rem;
}

.tabBtn a{
  
  border-bottom: solid 1px var(--primary)!important;
  
}

.tabBtn a:hover{
  background-color: var(--primary)
  
}

.scroll {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   width: auto;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background:  var(--color-primary-raised) !important;
}

/*Escritorio*/
@media screen and (min-width: 1024px) {
  .scroll {
    overflow:hidden;
       white-space: none;
}
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .scroll{
    overflow:hidden;
       white-space: none;
  }
}

/*landscape*/
 @media screen and (min-width: 1024px) and (max-width: 768px)  {
 .scroll {
    overflow:hidden;
    white-space: none;
  }
}
/*fin tablet*/






