.outlinedBlock {
  border: 2px dotted var(--color-primary);
  border-radius: 0.5rem;
}

.addWorkButton {
  background: url(/img/ico-work.png) 50% 4rem no-repeat;
  background-size: 5rem;
  width: 100%;
  height: 15rem;
  padding-top: 8rem;
}
.addWorkButton h4 {
  font-size: 1.1rem;
  font-weight: 200;
}
.addWorkButton p {
  font-size: 0.85rem;
}

.addWorkModalButton {
  border-radius: 2rem;
  font-size: 0.85rem;
  margin-top: 2.1rem;
}

.chosenWorksBox {
  height: 7rem;
  position: relative;
}
.chosenWorksBox img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.chosenWorksBoxRemove {
  background-color: transparent;
  border: none;
  color: #adadad;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  font-size: 0.9rem;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 0.2rem;
  top: 0.35rem;
}

.cycleGuidelineInfo {
  background-size: 52px;
  color: var(--color-primary);
  font-size: 0.75rem;
}
.cycleCoverPrompt {
  background: url('/img/ico-painting.png') 50% 2rem no-repeat;
  background-size: 52px;
  color: var(--color-primary);
  font-size: 0.75rem;
  padding: 6rem 1rem 0;
}
.cycleCoverPrompt h4 {
  color: var(--color-secondary-raised);
  font-size: 1.15rem;
  text-align: center;
}
.cycleCoverPrompt p {
  margin-bottom: 0;
}
.cycleCoverPrompt ul {
  list-style-type: none;
  padding: 0;
}
.cycleCoverPrompt ul li {
  text-indent: 0.25rem;
}
.cycleCoverPrompt ul li::before {
  content: '- ';
}

.cycleCoverPreview {
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 244px;
}

.complementaryContentPrompt {
  align-items: center;
  background: url('/img/ico-document.png') 50% 1rem no-repeat;
  background-size: 52px;
  color: var(--color-primary);
  display: inline-flex;
  flex-direction: column;
  font-size: 0.75rem;
  height: 17rem;
  padding: 6rem 1rem 0;
  text-align: center;
}
.complementaryContentPrompt h4 {
  color: var(--color-secondary-raised);
  font-size: 1.15rem;
  text-align: center;
}
.complementaryContentPrompt p {
  text-align: left;
}

.complementaryMaterials {
  font-size: 0.85rem;
  margin: 0;
  padding: 0 0 0 1.5rem;
  text-align: left;
  width: 100%;
}
.complementaryMaterials li {
}
.removeComplementaryMaterial {
  background-color: var(--eureka-green);
  border-radius: 50%;
  color: var(--text-color-light);
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 1rem;
  line-height: 1.4;
  margin-left: 0.5rem;
  text-align: center;
  width: 1rem;
}

.complementaryMaterialAlternativeText {
  color: var(--eureka-green);
  margin-top: 1.75rem;
  text-align: center;
}

.loadIndicator {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 0.5rem;
}
.cycleAccesForGroup > div{
  margin-top: .5em;
}
.cycleAccesForGroup small{
  font-size: .8em;
}
.guidelinesContainer{
  border: 2px dotted var(--color-primary);
  border-radius: .5rem;
}
.worksDisscussionsDates label, .worksDisscussionsDates input{
  font-size: .8em;
}

