.addWorkButton {
  background: url(/img/ico-painting.png) 50% 4rem no-repeat;
  background-size: 3rem;
  border: 2px dashed var(--color-primary);
  color: var(--text-color-secondary);
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
  padding-top: 6rem;
}
.addWorkButton h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
.addWorkButton p {
  font-size: 0.85rem;
}

.postSearchTypeaheadItem {
  display: flex;
  margin-bottom: 1rem;
}
.postSearchTypeaheadItem img {
  margin-right: 0.5rem;
  width: 76px;
  height: 76px;
  object-fit: contain;
}
.postSearchTypeaheadItem h4 {
  font-size: 1rem;
}
.postSearchTypeaheadItem hr {
  margin: 0 0 0.2rem;
}
.postSearchTypeaheadItem p {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
}
.postSearchTypeaheadItem article {
  max-width: 420px;
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadIndicator {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 0.5rem;
}
