.headerContainer {
  border: none;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;

}

.eurekaImage {
   width: 120px;
   height: 120px;
}

.EurekaText {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 15px;
  font-size: 1.5rem;
}

.resetPassword {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.submitButton {
  margin-top: 2rem;
  width: 90%;
}
.sendForm{
  width: 40%;
}

.passRequirement{
  color: rgb(182, 177, 177);
  font-size: 0.75rem;
}


@media screen and (max-width: 1024px) {
 
  .sendForm{
  width: 100%;
  margin: 1rem;
}
  .submitButton{
  width: 100%;
    margin: 1;

}
   
}
