
.welcomeSection{
 width: 40%;
 height:auto;
 background-color:var(--color-primary-raised);
 margin-left: 2rem;
}

.welcomeSectionText{
margin-top: 8rem;  
color: #fdf7f7;
}
.welcomeText{
font-size: 3rem;
margin-bottom: 8rem;  
}
.otherText{
font-size: 1.3rem;
margin-right: 1.5rem;
}

.eurekaImage {
   width: 50%;
   height: 100%;
}

.imageContainer{
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.registerFormSection{
  margin-top: 8rem;
  }
  .registerForm{
  width: 80%;
}

  .joinEurekaText{
    font-size: 3rem;
    text-align: center;
    color:var(--color-primary-raised);
  }
  .haveAccounttext {
  text-align: center;
  font-size: 1.1rem;
  margin-left: 1rem;
    margin-bottom: 3rem;

}

.alternativeLabel {
  color: var(--eureka-green);
  margin-top: 2rem;
  text-align: center;
}

  .buttonGoogle {
  background: transparent ;
  background-size: 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--eureka-green);
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 80%;
}
.gmailLogo {
   width: 1.5rem;
  height: 1.5rem;
}

.personalData{
  width: 49%;
}

.submitButton {
  display: block;
  margin-top: 4rem;
  width: 70%;
  height: 3.5rem;
  font-size: 1.2rem;

}