
.welcomeSection{
 width: 40%;
 height:auto;
 background-color:var(--color-primary-raised);
}

.welcomeMobileSection{
 background-color:var(--color-primary-raised);
 width: 105%;
  height:auto;
}
.welcomeSectionText{
margin-top: 8rem;  
}
.welcomeText{
font-size: 2.0rem;
margin-bottom: 6rem; 
color: #fdf7f7;
}
.otherText{
font-size: 1.1rem;
margin-right: 1.5rem;
color: #fdf7f7;
}

.eurekaImage {
   width: 30%;
   height: 100%;
}

.imageContainer{
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.VisitEurekaText{
  text-decoration:underline;
}

.registerFormSection{
  margin-top: 3.5rem;
    margin-right: .5rem;
    margin-left: 5rem;
  }


  .registerForm{
  width: 85%;
}

.registerCycleInfoSection {
  margin-top: 3.5rem;
    margin-left: .5rem;
}

  .joinEurekaText{
    font-size: 2rem;
    text-align: center;
    color:var(--color-primary-raised);
      margin-bottom: 3rem;
  }
.CycleTitleText{
      font-size: 2rem;
      text-align: left;
      color: var(--color-primary-raised);
      margin-bottom: 3rem;
}

  .haveAccounttext {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 3rem;

}

.alternativeLabel {
  color: var(--eureka-green);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

  .buttonGoogle {
  background: transparent ;
  background-size: 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--eureka-green);
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 82%;
}

.buttonGoogleSignUpJoinCycle {
  background: transparent ;
  background-size: 26px;
  border: 1px solid var(--eureka-green);
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 100%;
}
.gmailLogo {
   width: 1.5rem;
  height: 1.5rem;
}
.gmailLogoAndtext{
  margin-top: 11px;  
}

.personalData{
  width: 48%;
}

.submitButton {
  margin-top: 2rem;
  width: 70%;

}
.joinedTermsText{
  font-size: .68rem;
}

.linkText{
  text-decoration:underline;
}

.passRequirement{
  color: rgb(182, 177, 177);
  font-size: 0.75rem;
}

@media screen and (max-width: 1024px) {

.personalData{
  width: 100%;
}
.registerFormSection{
  margin-top: .5rem;
  margin-left: .5rem; 
  }

   .buttonGoogle {
  width: 85%;
}

   .registerForm{
  width: 90%;
}

.welcomeText{
font-size: 2.5rem;
margin-bottom: 1rem; 
text-align: center;
}

.eurekaImage {
   width: 40%;
   height: 100%;
}

.imageContainer{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.joinEurekaText{
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 350px) {
.joinedTermsText {
    font-size: .5rem;
  }

}
