.modalHeader {
  border: none;
  text-align: center;
}
.modalHeader :global(.modal-title) {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.modalHeader button:global(.close) {
  color: var(--eureka-green);
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  opacity: 1;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.buttonGoogle {
  background: transparent url('/img/logo-google.png') 2.5rem 50% no-repeat;
  background-size: 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--eureka-green);
  display: block;
  font-size: 0.9rem;
  margin: 0 auto;
  padding: 0.75rem 4rem 0.75rem 5rem;
}

.alternativeLabel {
  color: var(--eureka-green);
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
}

.submitButton {
  border-radius: 1.5rem;
  display: block;
  margin-top: 2rem;
  width: 100%;
}
