
.welcomeSection{
 width: 40%;
 height:auto;
 background-color:var(--color-primary-raised);
}

.welcomeMobileSection{
 background-color:var(--color-primary-raised);
 width: 105%;
  height:auto;
}
.welcomeSectionText{
margin-top: 8rem;  
}
.welcomeText{
font-size: 2.0rem;
margin-bottom: 6rem; 
color: #fdf7f7;
}
.otherText{
font-size: 1.1rem;
margin-right: 1.5rem;
color: #fdf7f7;
}

.eurekaImage {
   width: 30%;
   height: 100%;
}

.imageContainer{
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.VisitEurekaText{
  text-decoration:underline;
}

.registerFormSection{
  margin-top: 8rem;
  }
  .registerForm{
  width: 80%;
}

  .joinEurekaText{
    font-size: 2rem;
    text-align: center;
    color:var(--color-primary-raised);
  }
  .haveAccounttext {
  text-align: center;
  font-size: 1.1rem;
  margin-left: 1rem;
    margin-bottom: 3rem;

}

.alternativeLabel {
  color: var(--eureka-green);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

  .buttonGoogle {
  background: transparent ;
  background-size: 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--eureka-green);
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 80%;
}
.gmailLogo {
   width: 1.5rem;
  height: 1.5rem;
}
.gmailLogoAndtext{
  margin-top: 11px;  
}

.personalData{
  width: 48%;
}

.submitButton {
  display: block;
  margin-top: 4rem;
  width: 70%;
  font-size: 1.2rem;

}
.joinedTermsText{
  font-size: 1rem;
  width: 110%;
}

.linkText{
  text-decoration:underline;
}

.passRequirement{
  color: rgb(182, 177, 177);
  font-size: 0.75rem;
}

@media screen and (max-width: 1024px) {

.personalData{
  width: 100%;
}
.registerFormSection{
  margin-top: 1rem;
  margin-left: 1rem; 
  }

   .buttonGoogle {
  width: 90%;
}

   .registerForm{
  width: 90%;
}

.welcomeText{
font-size: 2.5rem;
margin-bottom: 1rem; 
text-align: center;
}

.eurekaImage {
   width: 40%;
   height: 100%;
}

.imageContainer{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.joinEurekaText{
    font-size: 2.5rem;
  }

}
