.modalHeader {
  border: none;
  text-align: center;
}
.modalHeader :global(.modal-title) {
  font-size: 2rem;
}

.eurekaImage {
   width: 120px;
    height: 120px;
}

.modalHeader button:global(.btn-close) {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1;
  opacity: 1;
  padding: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.buttonGoogle {
  background: transparent ;
  background-size: 26px;
  border-radius: 0.5rem;
  border: 1px solid var(--eureka-green);
  font-size: 0.9rem;
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 40%;
}
.gmailLogo {
   width: 1.5rem;
  height: 1.5rem;
}
.gmailLogoAndtext{
  margin-top: 11px;  
}

.alternativeLabel {
  color: var(--eureka-green);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.EurekaText {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 15px;
  font-size: 1.5rem;
}

.loginGreeting {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.submitButton {
  display: block;
  margin-top: 2rem;
  width: 60%;
  height: 3.5rem;
  font-size: 1.2rem;

}
.loginForm{
  width: 40%;
}

.forgotPassText{
  font-size: 0.75rem;
  text-decoration:underline;
}

.dontHaveAccounttext {
  text-align: center;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  .buttonGoogle{
  width: 85%;
}
  .loginForm{
  width: 90%;
}
  .submitButton{
  width: 75%;
}
 
   
}
